* {
  font-family: Helvetica;
  text-align: center;
}

.heading{
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.anchorlink {
  font-size: 18px;
  color: white;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

span {
  font-size: 11px;
  color: white;
}

#footer {
  background-color: dimgray;
}
